[global]
sip_ips			= 192.168.56.222,192.168.56.233
third_ips		= 192.168.56.1
ip_mask			= 255.255.255.0
mysql_port		= 3333
mysql_root_password 	= root

[external_app]
app_start_script =
app_stop_script =
app_availability_script =
app_status_check_script =
app_before_slave_ready_script =
app_before_master_ready_script =

[smtp]
smtp_host		=
smtp_port		=
smtp_from		=
smtp_username 	=
smtp_password 	=
smtp_to 		=

[event_notifier]
shell			=

[node1]
ips 			= 192.168.56.101
mysql_replication_ips =
extra_heartbeat_ips =
ipmi_host		=
ipmi_username 	=
ipmi_password	=
nics			= eth1


[node2]
ips 			= 192.168.56.102
mysql_replication_ips =
extra_heartbeat_ips =
ipmi_host		=
ipmi_username 	=
ipmi_password	=
nics			= eth1
